.th, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
  vertical-align: top;
}
th {
  text-align: left;
}
.tabl{
  margin-top: 200px;
  margin-left: 148px;
  margin-right: 140px;
}
.q1{
  font-size: 28px;
  background-color: rgba(238,14,46,0.7);
  color: #ffdce5;
}
.subtl{
  font-size: 28px;
  font-family: Roboto;
  font-weight: 700;
  color: white;
}
.tl{
  font-size: 80px;
  font-family: Roboto;
  font-weight: 700;
  color: white;
}
.ytb{
  margin-left: 170px;
  margin-top: 0px;
}
.titi{
  font-size: 80px;
  font-family: Roboto;
  font-weight: 700;
  
  color: white;
  display: inline-block;
  margin-left: 580px;
  margin-bottom: 20px;
  color: rgb(238,14,46);
  background-color: rgba(215,197,177,0.8);

}